<!DOCTYPE html>
<html>
  <head>
    <title>Highway 88 Road Conditions</title>
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="author"
      content="Ido Green | greenido.wordpress.com | @greenido"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body
    background="https://cdn.glitch.com/77226634-c4ec-49b2-91d1-afa454bc1adb%2FCrested_Butte.jpg?1519855606111"
  >
    <center>
      <header>
        <h1 class="myh1">
          Highway 88 Conditions (Bay Area ↔️
          <a href="https://www.kirkwood.com/" target="_blank">Kirkwood</a>)
        </h1>
        <div id="curStatus"></div>
      </header>
      <div
        class="glitchButton"
        style="position: absolute; top: 40px; right: 40px"
      ></div>

      <hr />
      <main>
        <h3>
          <a
            href="https://ul.waze.com/ul?place=ChIJyw_jRk3xmYARn-W118rvXYs&ll=38.68475140,-120.06516650&navigate=yes"
            target="_blank"
            >🚙 Waze to Kirkwood</a
          >

          <br /><br />
          <a href="https://roads.dot.ca.gov/" target="_blank">Highway 88</a> --
          <a href="http://cwwp2.dot.ca.gov/vm/iframemap.htm" target="_blank"
            >i88 Live Video</a
          >
          <h2>
            ❄️ Weather:
            <a
              href="https://weather.com/weather/today/l/1aec71fcd6951b7bd2cbba92cf473f6b13fb09af1f6dfb364decfe89402e8fd2"
              target="_blank"
              >Truckee</a
            >
            --
            <a
              href="https://weather.com/weather/today/l/aa6184294c629ec85dfae553b2f2a08b34b4f005cb1be43ffa1986735b27a4d2"
              target="_blank"
              >Heavenly</a
            >
            --
            <a
              href="https://weather.com/weather/today/l/837ba8446c84a187f3369b95029feb9bac5fb81ae365c6b62d91238e9e6c9508"
              target="_blank"
              >Kirkwood</a
            >
          </h2>
          <br />
          <a
            class="twitter-timeline"
            data-tweet-limit="3"
            href="https://twitter.com/KirkwoodMTN?ref_src=twsrc%5Etfw"
            >Tweets</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
          <br /><br />
          <a
            class="twitter-timeline"
            data-tweet-limit="6"
            href="https://twitter.com/kwconditions?ref_src=twsrc%5Etfw"
            >Tweets by kirkwood-conditions</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </h3>
        <h3>
          <a href="https://pow-day-northstar.glitch.me/" target="_blank"
            >Is it Pow Day At Northstar?</a
          >
        </h3>
      </main>
      <br /><br />
      <h2>
        <footer>
          <a href="https://ido-green.appspot.com">Ido's Talks and Code</a>
        </footer>
      </h2>
      <p>
        <small>Updated: Jan 2023 🚴</small>
      </p>
    </center>
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/client.js"></script>
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-177900957-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-177900957-1");
  </script>
</html>
